.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  &__title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  &__card {
    width: 320px;
    height: 400px;
    border-radius: 20px;
    background-color: #8d8d8dab;
    background-attachment: fixed;
    margin-bottom: 30px;

    &__dark {
      background-color: #0b0d0fab;
    }

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    &__img {
      max-width: 320px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__title {
        font-weight: bold;
      }

      &__description {
        font-size: 12px;
      }

      &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 10%;
        padding: 0px 20px 0px 20px;
        border: 2px solid rgba(0, 0, 0, 0.4);
        cursor: pointer;
        border-radius: 10px;
        filter: drop-shadow(2px 2px 2px transparent);
        transition: all 0.5s;
        &:hover {
          filter: drop-shadow(2px 2px 2px #000000);
        }
        
        &__dark {
          border: 2px solid rgb(173 173 173 / 40%);
          &:hover {
            filter: drop-shadow(2px 2px 2px #ffffff);
          }
        }
      }
    }
  }
}
