@import "../../global/mixins";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: #d6d6d6;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 16px 0px;
  &__dark {
    background: #000000;
  }
  &__icons {
    padding: 10px;
    display: flex;
    gap: 5px;
    position: relative;
    &__popover {
      position: absolute;
      height: 35px;
      width: 120px;
      background: #ffffff;
      padding: 2px;
      left: 50px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      color: #000000 ;
    }
    &__popover::before {
      position: absolute;
      z-index: 1;
      content: "";
      left: -8px;
      top: 25%;
      border-style: solid;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent; 
      border-right:10px solid rgb(255, 255, 255); 
      border-left: 0px;
      transition-duration: 0.3s;
      transition-property: transform;
    }
  }
  &__language {
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px transparent);
    transition: all 0.5s;
    font-size: 22px;
    &:hover {
      filter: drop-shadow(2px 2px 2px #ffffff);
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
  }
}

@include breakpoint("medium") {
  .navbar {
    &__language {
      font-size: 16px;
    }
  }
}
