.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: #d6d6d6;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 16px 0px;
  &__dark{
    background: #000000;
  }
  &__icons{
    padding: 10px;
    display: flex;
    gap: 5px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
  }
}
